input[type="radio"] {
  display: none;
}

.fa-star {
  cursor: pointer;
}

.yellow {
  color: #FFC107;
}

.gray {
  color: #e4e5e9;
}

.rating-stars {
  display: flex;
  margin-bottom: 20px;
}

.create-review-container {
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.create-review-container form {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.create-review-container span {
  float: right;
  margin: 0 15px;
}

.create-review-container button {
  width: 75%;
  background-color: #FF5A5F;
  color: #FFFFFF;
  box-shadow: 3px 3px 0px 2px rgba(0,0,0,1);
}

.create-review-container textarea {
  width: 550px;
  height: 200px;
  margin-bottom: 25px;
}

.create-review-container button:disabled{
  background-color: #999999;
  color: #FFFFFF;
  box-shadow: 3px 3px 0px 2px rgba(0,0,0,1);
}
