.spot-page-container {
   max-width: 1000px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: auto;
}

.photo-gallery {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
 }

 .photo-0 {
   flex: 1;
   max-width: 75%;
 }

 .photo-0 img {
   width: 100%;
   height: auto;
 }

 .spot-images-grid {
   flex: 1;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   gap: 10px;
 }

 .photo-item {
   max-height: 225px;
 }

 .photo-item img {
   width: 100%;
   height: auto;
 }

 h1 {
    padding: 10px 0 20px 0;
 }

 h2 {
    padding-bottom: 10px;
 }

 .spot-page {
    max-width: 1000px;
    margin: auto;
 }


 .spot-container {
    margin: 20px;
    height: auto;
    display: flex;
    align-items: flex-start;
 }

 .spot-description {
    width: 60%;
 }
.rating p {
    font-size: 12pt;
}

 .spot-reserve {
    width: 40%;
    border: 3px solid black;
    border-radius: 25px;
    padding: 5px 10px 15px 10px;
}

.price-rating {
    display: flex;
    align-items: center;
    justify-content: space-between;
 }

 .reserve-button {
    display: flex;
    justify-content: center;
 }

 .reserve-button button {
    text-align: center;
    margin: auto;
    width: 75%;
    background-color: #FF5A5F;
    color: #FFFFFF;
 }

 .reserve-button button:hover {
    background-color: #FFFFFF;
    color: #FF5A5F;
 }

 .review-container {
    display: block;
 }
