.remove-spot-container {
    width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    align-items: center;
    margin: auto;
}

.remove-spot-container button {
    width: 75%;
    margin: 10px 0;
    height: 20%;
}

.remove-spot-container p {
    margin-bottom: 20px;
}

.remove-spot-container h2 {
    margin-top:20px;
}

.confirm {
  background-color: #FF5A5F;
  color: #FFFFFF;
  box-shadow: 3px 3px 0px 2px rgba(0,0,0,1);
}

.deny {
    background-color: #999999;
    color: #FFFFFF;
    box-shadow: 3px 3px 0px 2px rgba(0,0,0,1);
}
