.button {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 70px;
}

.button button {
    width: 25%;
    background-color: #FF5A5F;
    color: #FFFFFF;
    box-shadow: 2px 2px 0px 1px rgba(0,0,0,1);
}
